body {
	margin: 15px;
}

.table {
	margin: 0px;
}

.pickthb {
	height: 20px;
	width: 20px;
	margin: 0px;
	background-color: #111111;
}

/*.draggable {*/
/*	background-color: rgba(0,0,0,0);*/
/*}*/

.draggable {
	margin: 0px;
	padding: 0px;
}

div.dataTables_wrapper { min-height: 300px; }

#username {
	height: 28px;
}

.frame-number{
	width: 120px;
	min-width: 120px;
}

#video-box{
	position: absolute;
	height: 425px;
}

.bb{
	/*position: relative;*/
}
.bbV{
	/*position: relative;*/
}

.frame-form {
	margin-top: 20px;
}

